{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
  <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}
  <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}

{# View Body #}
{% block body %}
  <div class="row padding-nav">
    <div class="col">
      <div class="card h-100" id="map-card">
        <div class="card-body pb-0 w-100">
          <canvas id="map-canvas"></canvas>
        </div>
        <span class="text-right w-100 pr-2 pb-2" id="map-status-text">Reloading in 10s...</span>
      </div>
    </div>
  </div>
{% endblock %}