{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
  <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}
  <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}

{# View Body #}
{% block body %}
  <div class="row padding-nav">
    <div class="col">
      <div class="card h-100" id="map-card">
        <div class="card-body pb-0 w-100">
          <canvas id="map-canvas"></canvas>
        </div>
        <span class="text-right w-100 pr-2 pb-2" id="map-status-text">Reloading in 10s...</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-2 mb-2" id="report-table-pane">
      <div class="card h-100">
        <div class="card-body pb-0">
          <h3>Ledger</h3>
          <div class="table-wrapper-2">
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Week</th>
                <th>Item</th>
                <th>Credit</th>
                <th>Debit</th>
              </tr>
              </thead>
              <tbody id="report-table-body">
              </tbody>
            </table>
          </div>
        </div>
        <a class="btn btn-large bg-elegant" role="button" id="update-ledger-button">Update Ledger</a>
      </div>
    </div>
    <div class="col mt-2 mb-2" id="logs-table-pane">
      <div class="card h-100">
        <div class="card-body pb-0">
          <h3>Logs</h3>
          <div class="table-wrapper-2">
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Log</th>
              </tr>
              </thead>
              <tbody id="logs-table-body">
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex">
          <a class="btn btn-large bg-elegant w-50" role="button" id="update-logs-button">Update Logs</a>
          <a class="btn btn-large bg-elegant w-50" role="button" href="/dashboard/downloadlogs" id="download-logs-button">Download Logs</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}