{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}{% endblock %}

{# View Body #}
{% block body %}
  <div id="app-welcome-pane">
    <div class="container">
      <div id="app-welcome-content" class="mt-5">
        <h1>CEC2019 Visualizer</h1>
        <h3>Visualizer web application for the CEC2019 backend.</h3>
        <hr>
        <a class="btn btn-large bg-elegant" href="/signup" role="button"><i class="fa fa-user-plus"></i> Sign Up</a>
        <a class="btn btn-large bg-elegant" href="/login" role="button"><i class="fa fa-user"></i> Login</a>
      </div>
    </div>
  </div>
  <div id="about-pane">
    <div class="container">
      <div id="about-content" class="mt-3">
        <h1>About</h1>
        <p>
          As automation becomes increasingly present in our lives, blue-collar jobs with simple forms of labour are now being replaced with robots. This allows the company to complete the same amount of work as previously at a fraction of the cost. Assembly line work is the first being automated, but it is slowly expanding into other sectors such as services. Companies who would like to save money and be able to grow more rapidly are already turning to these solutions. By 2020, McDonalds will have most of its 14,000 locations and hundreds of thousands of staffed cashiers replaced by order kiosk. Most warehouse moving jobs, especially at bigger companies like Amazon, have been replaced with robots. With automation increasing in other industries, such as transportation and home appliances, it’s inevitable that the only part of the services industry of the future that will be human are the customers.
        </p>
        <p>
          Res-TRON-t Solutions (RS) is an automation company that specializes in creating robots that serve purposes in restaurant settings. They’ve become very successful due to their production line cleaning service product for large food courts and drive-thru automation product line, however they would like to grow their market share in the semi-formal eatery industry. Establishments that serve food but also are used for other purposes, such as board game cafes or Starbucks, usually leave their staff to clean up their mess, which usually involves transferring garbage, recyclables and organics to their disposal bins. These establishments usually have the closing staff clean up the place after hours, as well as have them check tables and clean periodically throughout the day. Additionally, waste will often not be properly sorted which causes lots of recyclables and organics to be improperly sent to landfills, and garbage to be sent to recycling or organics facilities.
        </p>
        <p>
          However, RS would like to reduce the need of staff even further and increase the sorting effectiveness of trash. Due to their licensing of other companies’ technology, engineers at the company have been able to program a device using a modified autonomous vacuum cleaner that can interact with surfaces off the floor, such as tables and bar stools. It can collect pieces of trash, and place them in the appropriate disposal bins.
        </p>
      </div>
    </div>
  </div>


  <!-- Copyright Notice Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="copyright-text">
            © 2018
            <a href="https://github.com/brandon1024">Brandon Richardson</a>,
            <a href="https://github.com/jacsmith21">Jacob Smith</a>,
            <a href="https://github.com/alexodonn">Alex O'Donnell</a>,
            <a href="https://github.com/aeldesoky">Amir Eldesoky</a>
          </div>
          <div id="rights-text">
            ALL RIGHTS RESERVED
          </div>
        </div>
        <div class="col">
          <a class="nav-link waves-effect float-right" href="https://github.com/brandon1024/cec2019frontend" aria-label="View CEC2019 Project in Github"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
