{% extends 'base.twig' %}

{# Add View-Specific Stylesheets #}
{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
{% endblock %}

{# Add View-Specific Scripts #}
{% block scripts %}{% endblock %}

{# View Body #}
{% block body %}
  <div id="app-welcome-pane">
    <div class="container">
      <div id="app-welcome-content" class="mt-5">
        <h1>MCP Resource Manager</h1>
        <h3>Ol' Musky's Supply Chain Management System</h3>
        <hr>
        <a class="btn btn-large bg-elegant" href="/signup" role="button"><i class="fa fa-user-plus"></i> Sign Up</a>
        <a class="btn btn-large bg-elegant" href="/login" role="button"><i class="fa fa-user"></i> Login</a>
      </div>
    </div>
  </div>
  <div id="about-pane">
    <div class="container">
      <div id="about-content" class="mt-3">
        <h1>About</h1>
        <p>
          The MCP Resource Manager is a supply chain management system that is used to track the work done by Ol' Musky's
          supply chain management AI. The MCP Resource Manager App can be used to display the ledger of the operations carried
          by the supply chain management AI, a log of the HTTP requests made by the AI, and a map that renders as more ores are
          added.
        </p>
      </div>
    </div>
  </div>


  <!-- Copyright Notice Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="copyright-text">
            © 2018
            <a href="https://github.com/brandon1024">Brandon Richardson</a>,
            <a href="https://github.com/jacsmith21">Jacob Smith</a>,
            <a href="https://github.com/alexodonn">Alex O'Donnell</a>,
            <a href="https://github.com/aeldesoky">Amir Eldesoky</a>
          </div>
          <div id="rights-text">
            ALL RIGHTS RESERVED
          </div>
        </div>
        <div class="col">
          <a class="nav-link waves-effect waves-light float-right" href="https://github.com/brandon1024/node-skeleton" aria-label="View node-skeleton Project in Github"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
