body
  background-color: #333

.padding-nav
  padding-top: 64px

.row
  margin: 0

#status-pane
  padding-left: 5px
  padding-right: 5px

.status-field
  color: forestgreen
  font-size: large

.table-wrapper-2
    display: block
    max-height: 300px
    overflow-y: auto
    -ms-overflow-style: -ms-autohiding-scrollbar